.settings-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.settings-menu h2 {
  margin-top: 0;
}

.settings-menu label {
  display: block;
  margin-bottom: 10px;
}

.settings-menu input {
  margin-left: 10px;
}

.settings-menu button {
  margin-top: 10px;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  gap: 20px;
}

.game-canvas {
  border: 1px solid #ccc;
}

.ranges {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 20px 10px 10px 10px;
  gap: 10px;
}

.range {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.label {
  display: flex;
  gap: 5px;
}
